.mainNav {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-left: 90px;
}

.mainNav a {
  margin-left: 30px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: lighter;
  letter-spacing: 1px;
}

@media(min-width:468px) {
  .mainNav {
    display: flex;
    flex-direction: row;
    padding-top: 23px;
    margin-left: none;
  }
}
