<div class="footerMainBox">
    <app-social></app-social>
    <div class="footNav">
      <app-nav></app-nav>
    </div>
    <div class="footerInfo">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi itaque atque modi enim cum. Doloribus
          numquam similique in, sequi eligendi ipsa tempora itaque non deleniti omnis molestiae eum quaerat, sequi
          eligendi ipsa tempora itaque non deleniti omnis molestiae eum. </p>
      </div>
      <div class="displayOff">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi itaque atque modi enim cum. Doloribus
          numquam similique in, sequi eligendi ipsa tempora itaque non deleniti omnis molestiae eum quaerat, sequi
          eligendi ipsa tempora itaque non deleniti omnis molestiae eum. </p>
      </div>
      <div class="displayOff">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo animi itaque atque modi enim cum. Doloribus
          numquam similique in, sequi eligendi ipsa tempora itaque non deleniti omnis molestiae eum quaerat, sequi
          eligendi ipsa tempora itaque non deleniti omnis molestiae eum. </p>
      </div>
    </div>
    <div class="footerFoot">
      <div>
        <p>All rights reserved &copy;. Costa Rica - 2019</p>
      </div>
      <div>
        <p>Developed by: Fabián Campos Vargas.</p>
      </div>
    </div>
  </div>
  